.cart-product {
  padding: 20px;
  background-color: #f2f3f4;
  display: flex;
  gap: 32px;
  border-radius: 12px;
  position: relative;

  &__img {
    max-width: 188px;
  }

  &__remove {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url('images/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
  }
}
