.product {
  width: 328px;
  height: 412px;
  background-color: #f2f3f4;
  padding: 20px;
  border-radius: 12px;
  position: relative;

  &__img {
    max-width: 288px;
    height: 220px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
  }

  &__cart-button {
    position: absolute;
    bottom: 20px;
    width: 140px;
  }
}
